<footer>
  <p>Copyright © 2022.</p>
  <ul class="link-section">
      <h6 class="social-text">
        <a class="social-icons" href="https://www.linkedin.com/in/shubham-choudhary-5606521a5/" target="_blank"><i class="bi bi-linkedin"></i>Linkedin</a>
      </h6>
      <h6 class="social-text">
        <a class="social-icons" href="https://www.instagram.com/shubham_.o4/"><i class="bi bi-instagram" target="_blank"></i>Instagram</a>
      </h6>
      <h6 class="social-text">
        <a class="social-icons" href="https://www.facebook.com/profile.php?id=100009876463936"><i class="bi bi-facebook" target="_blank"></i>Facebook</a>
      </h6>
      <h6 class="social-text">
        <a class="social-icons" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSBnNRHPtpkzmKSnLMPlkKDkbdBLLrgxTJzWGzjbhdMVmqXQWFnpwCpzxqTrzNtJfNDkhGrQ" target="_blank"><i class="bi bi-envelope"></i>Email</a>
      </h6>
      <h6 class="social-text">
        <a class="social-icons" href="https://github.com/shubham0419" target="_blank"><i class="bi bi-github"></i>GitHub</a>
      </h6>
    </ul>
</footer>

</body>

</html>
