html {
  min-height: 100%;
  overflow: visible;
}

body{
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
}

.head-area{
  font-family: 'Sora', sans-serif;
  background-color: rgb(1, 63, 53);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.logo{
  margin-left: 5px;
  border-radius: 100%;
  width: 70px;
}

.navbar{
  padding-top: 2rem;
}

.navbar-brand{
  padding-left: 0;
  margin-left: 0;
  font-weight: 700;
  font-size: 200%;
}

.navbar-nav{
  margin-left: 55%;
  font-size: larger;
}

/* home */
.content{
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
}

/* compose */
.submit-btn{
  margin-top: 10px;
  background-color: rgb(1, 63, 53);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

/* login */

.login-block{
  background-color: rgb(204, 203, 203);
  border-radius: 1%;
  margin: 90px auto auto auto;
  text-align: center;
  height: 410px;
  width:350px;
}

.login-logo{
  width: 70px;
  margin-top: 30px;
  margin-bottom: 0;
}

.login-heading{
  margin-top: 0;
  text-transform: capitalize;
  margin-bottom: 5%;
}

.login-input{
  text-align: left;
  min-width: 70%;
  margin: 2%;
}

.login-btn{
  width: 70%;
  margin-bottom: 5%;
  color: white;
  text-transform: capitalize;
}

.btn-google{
  background-color: white;
  color: black;
}

@media (max-width: 1380px) {
  .navbar-nav{
    text-align: right;
    margin-left: 40%;
  }
}

@media (max-width: 992px) {
  .navbar-nav{
    padding-right: 1%;
    text-align: right;
  }

  .navbar-brand{
    font-size: 150%;
  }
}

footer {
  margin-top: 20%;
  color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
  background-color: rgb(1, 63, 53);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.link-section{
  margin: auto 5% auto auto;
}

.social-text{
  display: inline-block;
  margin: .5rem 1rem;
}

.social-icons{
  padding-right: 2px;
  text-decoration-line: none;
  color: white;
}

